--index-url=https://download.pytorch.org/whl/cu124
--extra-index-url=https://data.pyg.org/whl/torch-2.4.0+cu124.html
--extra-index-url=https://pypi.nvidia.com
--extra-index-url=https://pypi.org/simple

# ML
curated-transformers
bitsandbytes

# NLP
nltk
spacy[cuda12x,transformers,lookups]<4.0
spacy-alignments
spacy-curated-transformers
spacy-experimental
spacy-legacy
spacy-llm
spacy-loggers
spacy-lookups-data
spacy-transformers
tiktoken 
sentencepiece
gensim
 
# Graphs
neo4j
networkx
pygraphviz
igraph
  
# Huggingface
transformers[sentencepiece]
datasets
accelerate
