# Base
psutil
python-dotenv
matplotlib
tqdm 
seaborn
altair
hydra

# Torch
torchaudio
torchmetrics
torchvision
lightning
lightning-fabric
torchdatasets

# Torch geometric
torch_geometric
# pyg_lib @ git+https://github.com/pyg-team/pyg-lib.git
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv

# NLP
coreferee @ git+https://github.com/igormorgado/coreferee.git

# ML
scipy
scikit-image
scikit-learn
langchain

# NLP
nltk
deplacy
# rapidfuzz @ git+https://github.com/rapidfuzz/RapidFuzz.git
# concise_concepts

# Graphs
# pymgclient --global-option="build_ext" --global-option="--static-openssl=0"
# gqlalchemy # Depends on old version of networkX 3.5.1

# Stats
formulaic
statsmodels
superset
